<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find garden_guardian)/params/ekf_params.yaml" />
  <rosparam command="load" file="$(find garden_guardian)/params/navsat_params.yaml" />
  <!-- Transform between base link and Adam frame is already provided by the T265 Transform between base link and Adam frame is already provided by the T265 -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map" />
  </node>
  
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter">
    <remap from="imu/data_raw" to="phone/imu" />
    <remap from="imu/mag" to="phone/magnetic_field" />
    <param name="use_magnetic_field_msg" value="true" />
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen">
    <remap from="odometry/filtered" to="odometry/filtered_map" />
    <remap from="gps/fix" to="/phone/fix" />
    <remap from="imu/data" to="/imu/data" />
  </node>
</launch>
