<launch>
  <include file="$(find garden_guardian)/launch/include/rs_t265.launch">
    <arg name="initial_reset" value="true" />
    <arg name="publish_odom_tf" value="false" />
    <arg name="pose_frame_id" value="base_link" />
    <arg name="odom_frame_id" value="odom" />
  </include>
  <!-- Launch PCA9685 Connection -->
  <node pkg="garden_guardian" type="driver.py" name="base_controller" />
  <!-- Launch Hyper IMU Connection -->
  <node pkg="garden_guardian" type="phone.py" name="phone_controller">
    <param name="host" value="$(env ROS_IP)"/>
  </node>

  <include file="$(find astra_camera)/launch/astra.launch" />

  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
    <remap from="cloud_in" to="/camera/depth/points" />
    <rosparam file="$(find garden_guardian)/params/pointcloud_to_laserscan_params.yaml" command="load" />
  </node>
</launch>
