<launch>
<!--
<node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
    <rosparam file="$(find tutorial_pkg)/config/exploration.yaml" command="load" />
</node>
-->
<include file="$(find garden_guardian)/launch/base.launch" /> 
<include file="$(find garden_guardian)/launch/move_base.launch" /> 

</launch>
