<launch>
   <node pkg="tf" type="static_transform_publisher" name="base_cam_link" args="0 0 0 0 0 0 /base_link /camera_link 3" />
   <node pkg="tf" type="static_transform_publisher" name="base_phone_link" args="0 0 0 0 0 0 /base_link /phone_link 3" />
 
   <!--<include file="$(find garden_guardian)/launch/include/gmapping.launch" /> -->
   <include file="$(find garden_guardian)/launch/include/localization.launch" />
   
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find garden_guardian)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find garden_guardian)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find garden_guardian)/params/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find garden_guardian)/params/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find garden_guardian)/params/base_local_planner_params.yaml" command="load" />
      

      <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />

      <remap from="odom" to="/odometry/filtered_map" />

   </node>
 
</launch> 
